body {
  background-image: url("../img/penguins.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 70%;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  text-align: center;
}

h1 {
  font-size: 0.9rem;
}

table {
  width: 50%;
  margin: 30vh auto 0px auto;
  background-color: #fff59e;
  border-top: solid 3px white;
  border-right: solid 3px black;
  border-bottom: solid 3px black;
  border-left: solid 3px white;
  outline: solid 1px black;
}

th, td {
  border-spacing: 2px;
  background-color: white;
  border: 1px solid black;
}

.table-row > td {
  background-color: #fff59e;
}
