body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

table {
  border-spacing: 0px;
  border: 4px outset;
  outline: 2px solid #22a5cd;
}

.center-table {
  margin: 30vh auto 10vh auto;
}

.pair-row {
  background-color: #ccffcc;
  text-align: left;
}
.odd-row {
  background-color: #99cc99;
  text-align: left;
}
.title-row {
  text-align: center;
  background-color: #003333;
  color: #ccffcc;
}

tr, th, td {
  padding: 0px;
  border: 1px solid #22a5cd;
}

td, th{
    padding: 0px 10px 0px 10px;
}

h1 {
  margin-left: 30px;
}

li {
  margin-left: 30px;
  margin-top: 10px;
}

.page-links {
  text-align: center;
}
